.game-renderer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    overflow: hidden;
    background-color: white;
}

.game-renderer.no-border {
    border: none;
}

.play-area {
    position: relative;
    width: fit-content;
    height: fit-content;
}