.game-renderer {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    overflow: hidden;

    display: flex;
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
}

.play-area {
    position: relative;
    width: fit-content;
    height: fit-content;
}