body, html, #root {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f8f8f8; /* 背景が真っ白なら視覚的に中央かわかりにくい */
}